# Python Course Introduction

- Name:
- Course:
- Date:

## Basic Arithmetics

In [1]:
# Addition
print(2 + 3)

5

In [2]:
# Subtraction
print(10 - 5)

5

In [3]:
# Division
print(10 / 2)

5.0

In [4]:
# Multiplication
print(4 * 3)

12

In [5]:
# Exponential
print(2 ** 3)

8

In [6]:
# Module
print(10 % 3)

1

## Variables

In [8]:
# Assign and display a variable
stock = "APPLE"
print(stock)

APPLE

## Code Formatting

In [9]:
# Indentation
if True:
    print("Correct indentation")

# Avoid using semicolons
print("No semicolons needed")

Correct indentation
No semicolons needed

## Data Types

In [10]:
# Integers
number = 5
print(type(number))

<class 'int'>

In [11]:
# Floats
pi = 3.14
print(type(pi))

<class 'float'>

In [12]:
# Booleans
is_true = True
print(type(is_true))

<class 'bool'>

In [15]:
# Lists
my_list = ['APPL', 'GOOG', 'AMZN', True, [], ()]
print(type(my_list))

<class 'list'>

In [16]:
# Tuples
my_tuple = ('APPL', 'GOOG', 'AMZN')
print(type(my_tuple))

<class 'tuple'>

In [17]:
# Sets
my_set = {'APPL', 'GOOG', 'AMZN'}
print(type(my_set))

<class 'set'>

In [19]:
# Strings
my_string = "description"
print(type(my_string))

<class 'str'>

In [20]:
# Dictionaries
car = {
    'Color': 'Red',
    'Year': 2025,
    'Features': ['automatic', 'abs', '5 doors']
}
print(type(car))

<class 'dict'>

## Mutable & Immutable

In [21]:
# Mutable list
stocks = ['APPL', 'GOOG', 'AMZN']
stocks.append("META")
print(stocks)

['APPL', 'GOOG', 'AMZN', 'META']

In [23]:
# Immutable tuple
list_stocks = ('APPL', 'GOOG', 'AMZN')
#list_stocks.append("META")  # This will throw an error

## Numbers

In [24]:
# Integers
years = 5
months = 12
months_per_year = years * months
print(months_per_year)
print(type(months_per_year))

60
<class 'int'>

In [26]:
# Floats
pi = 3.14
print(pi)
print(type(pi))

3.14
<class 'float'>

## Strings

In [28]:
message = "Welcome 2025"
print(message)
print(type(message))

Welcome 2025
<class 'str'>

## Lists

In [29]:
# Iterate through a list
stocks = ['APPL', 'GOOG', 'AMZN', 'META']
for item in stocks:
    print(item)

APPL
GOOG
AMZN
META

In [30]:
# Mixed objects in a list
objects = ['car', 'pencil', 'blue', 'yellow', 55]
for item in objects:
    print(item)

car
pencil
blue
yellow
55

## Indexing and Slicing

In [31]:
# Strings
message = "Welcome 2025"
print(message[0])

W

In [32]:
# Lists
stocks = ['APPL', 'GOOG', 'AMZN', 'META']
print(stocks[0])
print(stocks[-1])

APPL
META

In [33]:
# String slicing
print(message[0:5])

Welco

In [34]:
# List slicing
print(stocks[1:3])

['GOOG', 'AMZN']

## Strings Properties & Methods

In [35]:
name = "Alfred"
print(name.upper())

ALFRED

In [36]:
print(len(name))

6

In [37]:
print(name.endswith("d"))

True

In [38]:
print(name.count("z"))

0

In [41]:
print(name.upper())

ALFRED

In [42]:
print(name.swapcase())

aLFRED

## Print Formatting

In [43]:
message = "Welcome 2025"
print("My message is {}".format(message))

My message is Welcome 2025

## Lists

In [44]:
stocks = ['APPL', 'GOOG', 'AMZN', 'META']
stocks.reverse()
print(stocks)

['META', 'AMZN', 'GOOG', 'APPL']

In [45]:
stocks.append("TSLA")
print(stocks)

['META', 'AMZN', 'GOOG', 'APPL', 'TSLA']

In [46]:
stocks.remove("TSLA")
print(stocks)

['META', 'AMZN', 'GOOG', 'APPL']

## Dictionaries

In [47]:
person = {
    'name': 'John',
    'lastname': 'Smith',
    'age': 30,
    'city': 'Texas'
}

print(person)

{'name': 'John', 'lastname': 'Smith', 'age': 30, 'city': 'Texas'}

In [48]:
print(person['name'])

John

In [49]:
del person['city']
print(person)

{'name': 'John', 'lastname': 'Smith', 'age': 30}

In [50]:
keys = person.keys()
print(keys)

dict_keys(['name', 'lastname', 'age'])

In [51]:
values = person.values()
print(values)

dict_values(['John', 'Smith', 30])

In [52]:
for key, value in person.items():
    print(key, "-", value)

name - John
lastname - Smith
age - 30

## Tuples

In [55]:
stocks = ('APPL', 'GOOG', 'AMZN')
print(stocks)
#stocks.append("META")  # This will throw an error
print(type(stocks))

('APPL', 'GOOG', 'AMZN')
<class 'tuple'>

## Sets

In [56]:
stocks = {'APPL', 'GOOG', 'AMZN'}
print(stocks)

{'APPL', 'GOOG', 'AMZN'}

In [57]:
stocks.add("META")
print(stocks)

{'META', 'APPL', 'GOOG', 'AMZN'}

In [58]:
stocks.remove("AMZN")
print(stocks)

{'META', 'APPL', 'GOOG'}

## Booleans

In [59]:
chihuahua = True
print(chihuahua)
print(type(chihuahua))

True
<class 'bool'>

In [60]:
muffin = False
print(muffin)
print(type(muffin))

False
<class 'bool'>

## None

In [61]:
stock = None
print(type(stock))

<class 'NoneType'>

## Inputs

In [72]:
name = input("Enter your name: ")
print(name)

Enter your name: Edgar
Edgar

## Files

In [69]:
# Writing to a file
with open("book.txt", "w") as f:
    f.write("En un lugar de la mancha de cuyo nombre no quiero acordarme")

In [70]:
# Reading from a file
with open("book.txt", "r") as f:
    contents = f.read()
print(contents)

En un lugar de la mancha de cuyo nombre no quiero acordarme

In [71]:
# Appending to a file
with open("book.txt", "a") as f:
    f.write("\n no ha mucho tiempo que vivia un hidalgo")

# Reading lines from a file
with open("book.txt", "r") as f:
    lines = f.readlines()

for line in lines:
    print(line)

En un lugar de la mancha de cuyo nombre no quiero acordarme

 no ha mucho tiempo que vivia un hidalgo

# Exercise

Create you first program

- Capture input -> stock
- print length
- Capture input -> name file
- Wrtite stock in file
- Print file content

In [75]:
stock = input("Enter a stock: ")
stock_length = len(stock)
print(stock_length)
# your code.....

Enter a stock: APPLE
5
Enter a file name: stocks
You've written 5 characters to stocks.txt

# Notes

- Write your notes